<h1><i class="fas fa-mobile-alt "></i> Equipos celulares</h1>

<% if current_admin.can_create? %>
  <%= link_to "Nuevo equipo", new_device_path, remote: :true, class:"btn btn-success" %>
<% end %>

<% unless @devices.count == 0 %>
<table class="table table-stripped table-hover table-dark">
  <thead>
    <th>Modelo</th>
    <th>IMEI</th>
    <th>Línea asociada</th>
    <th>Estado</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">No hay equipos cargados!</h4>
  <p>Un adminsitrador con permisos de acceso debería comenzar a agregarlos.</p>
  <span class="fa-stack fa-2x">
  <i class="fas fa-mobile fa-stack-2x pull-left"></i>
  <i class="fas fa-plus fa-stack-1x" style="color:Lightgreen"></i>
</span>
</div>
<% end %>

<!-- Experimantal -->
<div class="" id="new-device">

</div>
