<table class="table table-hover table-stripped table-dark">
  <thead>
    <th>Marca</th>
    <th>Nombre modelo</th>
    <th>Unidades</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @device_models.each do |dm| %>
    <tr>
      <td><%= dm.get_mark %></td>
      <td><%= o.get_model_name %></td>
      <td>#</td>
      <td>...</td>
    </tr>
    <% end %>
  </tbody>
</table>
