<table class="table table-hover table-stripped table-dark" id="form-options-table">
  <thead>
    <th>Entidad</th>
    <th>Campo</th>
    <th>Valor</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <%= render partial: 'form_options/form_option', collection: @form_options %>
  </tbody>
</table>
