<table class="table table-hover table-stripped table-dark" id="offices-table">
  <thead>
    <th>Nombre</th>
    <th>Pertenece a</th>
    <th>Líneas</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <%= render partial: 'offices/office', collection: @offices %>
  </tbody>
</table>
