<table class="table table-hover table-stripped table-dark">
  <thead>
    <th>Nombre</th>
    <th>Pertenece a</th>
    <th>Líneas</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @offices.each do |o| %>
    <tr>
      <td class="align-middle"><%= o.get_fullname %></td>
      <td class="align-middle"><%= o.get_father_fullname %></td>
      <td class="align-middle">#</td>
      <td class="align-middle">
        <%= render "shared/buttons/edit_button_simple",
              link_url: edit_office_path(o),
              link_icon: "fas fa-edit",
              link_text: "",
              link_class: "btn btn-warning",
              link_remote: :true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
