<table class="table table-hover table-stripped table-dark">
  <thead>
    <th>Nombre</th>
    <th>Pertenece a</th
    <th>Líneas</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @offices.each do |o| %>
    <tr>
      <td><%= o.get_fullname %></td>
      <td><%= o.get_father_fullname %></td>
      <td>#</td>
      <td><%=  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
