<table class="table table-hover table-stripped table-dark">
  <thead>
    <th>Cuenta</th>
    <th>Fecha</th>
    <th>Líneas</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
    <tr>
      <td class="align-middle"><%= r.get_account %></td>
      <td class="align-middle"><%= r.get_date %></td>
      <td class="align-middle"><%= r.get_count_lines %></td>
      <td class="align-middle">...</td>
    </tr>
    <% end %>
  </tbody>
</table>
